#app {
    /* max-width: 800px;
    margin: 0px auto 0px auto;
    padding: 0px 20px; */
}
.bg-success{
    background-color: var(--cor-primaria) !important;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(253, 169, 13, 0.25);
}
.enunciado{margin-top: 35px; text-indent: 50px;}

/* .titulo-ativ{padding left: 50px;} */
.exercise {
    display: none;
    background: white;
    /* padding: 0px 30px 30px; */
    border-radius: 15px;
    /* margin: 20px 0; */
}
.exercise.active {
    display: block;
}
.nav-buttons {
    display: flex;
    justify-content: space-between;
}
.progress {
    height: 10px;
    margin: 40px 0 20px 0;
}
#completion-message {
    display: none;
    text-align: center;
    padding: 40px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
#restart-btn {
    margin-top: 20px;
}

#next-btn {
    background-image: url('../../images/direita_neg.svg');
    background-repeat: no-repeat;
    background-position-x: 103px;
    width: 150px;
    background-size: 26px;
    background-position-y: 12px;
    text-indent: -25px;
}
/* #next-btn:hover {
    background-image: url('../../images/direita.svg');
} */
#prev-btn{
    background-image: url('../../images/esq_neg.svg');
    background-repeat: no-repeat;
    background-position-x: 15px;
    width: 150px;
    background-size: 26px;
    background-position-y: 12px;
    text-indent: 25px;
}
#complete-btn{
    background-image: url('../../images/check.svg');
    background-repeat: no-repeat;
    background-position-x: 103px;
    width: 150px;
    background-size: 26px;
    background-position-y: 12px;
    text-indent: -25px;
}

.icone-mobile{
    max-width: 8%;
    padding-left: 1%;
}


