@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@font-face {
	font-family: "figtree";
	src: url("../../../assets/fonts/Figtree-Regular.ttf");
}

@font-face {
	font-family: "figtree-italic";
	src: url("../../../assets/fonts/Figtree-Italic.ttf");
}

@font-face {
	font-family: "figtree-bold";
	src: url("../../../assets/fonts/Figtree-Bold.ttf");
}

@font-face {
	font-family: "italiana";
	src: url("../../../assets/fonts/Italiana-Regular.ttf");
}

@font-face {
	font-family: "figtree-bolditalic";
	src: url("../../../assets/fonts/Figtree-BoldItalic.ttf");
}

/* CSS Document */
.spkIns {
	position: absolute;
	width: 1px;
	height: 1px;
	font-size: 1px;
	color: transparent;
	overflow: hidden;
}


:root {
	--cor-primaria: #92acce;
	--cor-secundaria: #207893;
	--cor-terciaria: #002e3b;
	--bg-gradiente-topo: var(--cor-terciaria);
	--gradiente-topo: linear-gradient(90deg, var(--cor-terciaria) 0%, var(--cor-primaria) 50%, var(--cor-secundaria) 100%);
}

#topo,
.prognroll-bar {
	background: var(--bg-gradiente-topo);
	background: var(--gradiente-topo);
	margin-top: 0px;
	height: 70px;
}

.topo-logo {
	background: url('../../../assets/images/asset_circulo.svg') no-repeat left -25px center,
		url('../../../assets/images/senac_logo.svg') no-repeat right 5% center;
	background-size: auto, 70px;
	height: 60px;
	margin-top: -3%;
}


h1 {
	padding: 40px 0;
	text-transform: uppercase;
	font-size: 2em;
	font-family: figtree-bold;
	color: #fff;
	text-align: center;
}

h2,
h3,
h4,
h5 {
	margin-bottom: 50px;
	margin-top: 50px;
	font-weight: bold;
	font-family: figtree-bold;
}

h2 {
	margin-left: -30px;
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

p,
li,
th,
td,
a,
.figure-caption,
.botao,
.tab-pane {
	font-family: figtree;
	font-size: 1em;
}

p {
	margin-bottom: 30px;
}







html,
body {
	background-image: url(../img/bg.png), url(../img/pessoas.png);
	background-size: cover, 300px, cover;
	background-position: 0 0, 100% center, center center;
	background-repeat: repeat-y, repeat-y, no-repeat;
	font-size: 20px;
	color: black;
	height: 100%;
	overflow-x: hidden !important;
}

header {
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: hsla(0, 0%, 0%, 0.80);
}

header h1 {
	font-size: 1.8em;
	font-weight: 700;
	color: white;

}

.container {
	margin-top: 10px;
	color: white;
	transition: 300ms ease-in;

}

/* .container h2 {
	font-size: 3em;
	font-weight: 700;
	width: 60%;
	margin: 0 auto;
} */

/* .container h3 {
	font-size: 2em;
} */

.container #r01 {
	margin-bottom: 32px;
}

#r03,
#r05 {
	border-top: #175569 14px solid;
	display: block;
	/*background-image:url(../img/gray.png);*/
	background-color: white;
	width: 100%;
	height: 58%;
	position: fixed;
	margin-bottom: 0;
	bottom: 0;
	overflow-y: auto;

}


#r04 {
	border-top: #175569 14px solid;
	display: block;
	background: url('../img/capa_bg.png') no-repeat;
	background-color: white;
	width: 100%;
	height: 78%;
	position: fixed;
	margin-bottom: 0;
	bottom: 0;
	overflow-y: auto;
	background-size: cover;
	background-attachment: fixed;
}








#r03 p {
	margin-top: 2%;
}

.botoes-r3 {
	margin-left: 130px;
	margin-right: 138px;
}

#r04 {
	text-align: left;
}

#r04 div {
	max-width: 900px;
	margin: 0 auto;
	
}

/* #r04 div ul {
	font-size: 1.6em;
} */

#r04 div:focus {
	outline: none;
}

#r05 div:focus {
	outline: none;
}

/* #r04 p,
#r05 p {
	font-size: 1.6em;
}

#r03 h3 {
	margin-top: 20px;
	font-size: 2em;
} */

#r03>span {
	outline: none;
}

#r03>a,
#r04>a,
#r05>a {
	display: block;
	position: relative;
	padding: 10px;
	margin: 0 auto;
	margin-top: 10px;
	width: 200px;
	background-color: white;
	text-align: center;
}

#info {
	font-size: 1.4em;
}

#info:focus {
	outline: none;
}

.container #r02 div a,
#r03 div a {
	position: relative;
	display: inline-flex;
	width: 289px;
	height: 238px;
	/*background-color:#f2f2f2;*/
	/*border:10px solid white;*/
	margin: 20px;
	transition: 200ms ease-in;
}

/* .container #r02 div a:hover,
.container #r02 div a:focus,
#r03 div a:hover,
#r03 div a:focus {
	background-color: yellow;
	transform: scale(1.2, 1.2);
	transition: 200ms ease-in;

} */

#r02 div a:focus,
#r03 div a:focus {
	outline: none;
}

a>label {
	position: inline;
	margin-top: 150px;
	font-size: 1.4em;
	background-color: white;
	width: 100%;
	padding: 2px;
}

/* .btn {
	margin-top: 15px !important;
	font-size: 1.4em;
	background-color: #f5e8eb !important;
	transition: 200ms ease-in;
} */

/* .btn:hover,
.btn:focus {
	background-color: red !important;
	transition: 200ms ease-in;
	color: white;
} */

#btObs {
	background-image: url('../img/bt1.png');
	background-size: contain;
	width: 289px;
	height: 238px;
}

#btObs:hover {
	background-image: url('../img/bt1_hv.png');
	background-size: contain;
}


#btCred {
	background-image: url('../img/bt7.png');
	background-size: contain;
	width: 289px;
	height: 237px;
}

#btCred:hover {
	background-image: url('../img/bt7_hv.png');
	background-size: contain;
}



#btIniciar {
	background-image: url(../img/ini.png);
	background-size: contain;
}

#btDia {
	background-image: url('../img/bt6.png');
	background-size: contain;
	width: 289px;
	height: 237px;
}

#btDia:hover {
	background-image: url('../img/bt6_hv.png');
	background-size: contain;
}

#btDic {
	background-image: url('../img/bt3.png');
	background-size: contain;
	width: 289px;
	height: 237px;
}

#btDic:hover {
	background-image: url('../img/bt3_hv.png');
	background-size: contain;
}

#btCor {
	background-image: url('../img/bt4.png');
	background-size: contain;
	width: 289px;
	height: 237px;
}

#btCor:hover {
	background-image: url('../img/bt4_hv.png');
	background-size: contain;
}

#btAlf {
	background-image: url('../img/bt2.png');
	background-size: contain;
	width: 289px;
	height: 237px;
}

#btAlf:hover {
	background-image: url('../img/bt2_hv.png');
	background-size: contain;
}

#btSit {
	background-image: url('../img/bt5.png');
	background-size: contain;
	width: 289px;
	height: 237px;
}

#btSit:hover {
	background-image: url('../img/bt5_hv.png');
	background-size: contain;
}


/*caixas de destaque*/

.destaque {
	border-radius: 25px;
	margin: 100px 0;
	padding: 40px;
	background: #fff;
	position: relative;
	z-index: 2;
}

.grafismo {
	position: relative;
}

.grafismo::after {
	content: '';
	display: block;
	background: url('../../../assets/images/asset_circulo.svg') no-repeat;
	height: 211px;
	width: 211px;
	bottom: -50px;
	right: -60px;
	position: absolute;
}

.destaque p:last-child {
	margin-bottom: 0;
}

.destaque.gradiente p {
	color: #fff;
}

.destaque.icone {
	padding-left: 70px;
}

.destaque.icone::before {
	content: '';
	display: block;
	height: 87px;
	width: 86px;
	position: absolute;
	bottom: 0;
	top: 0;
	margin: auto;
	left: -40px;
}

/*ÃCONES*/
.destaque.icone.atencao::before,
.destaque.icone.importante::before {
	background: url('../../../assets/images/ico_atencao.svg') no-repeat;
}

.destaque.icone.dica::before {
	background: url('../images/ico_dica.svg') no-repeat;
}

.destaque.icone.refletir::before {
	background: url('../images/ico_refletir.svg') no-repeat;
}

.destaque.icone.pergunta::before {
	background: url('../images/ico_pergunta.svg') no-repeat;
}

.destaque.icone.pesquisar::before {
	background: url('../images/ico_pesquisar.svg') no-repeat;
}

.destaque.icone.saibamais::before {
	background: url('../images/ico_saibamais.svg') no-repeat;
}

.destaque.icone.observacao::before {
	background: url('../images/ico_observacao.svg') no-repeat;
}

.destaque.icone.relembrar::before {
	background: url('../images/ico_relembrar.svg') no-repeat;
}

.destaque.icone.download::before {
	background: url('../images/ico_download.svg') no-repeat;
}

.destaque.icone.exemplo::before {
	background: url('../images/ico_exemplo.svg') no-repeat;
}

.destaque.icone.atividade::before {
	background: url('../images/ico_atividade.svg') no-repeat;
}

.destaque.icone.visualizar::before {
	background: url('../images/ico_visualizar.svg') no-repeat;
}

.destaque.icone.nota::before {
	background: url('../../../assets/images/ico_nota.svg') no-repeat;
}

.destaque.icone.conclusao::before {
	background: url('../images/ico_concluindo.svg') no-repeat;
}

.espaco{
	margin-top: 8%;
}

.marcador-padrao li{
    background: url('../../../assets/images/marcador_padrao.svg') no-repeat left top 5px / 20px;
    list-style: none;
    padding-left: 30px;
}
.imagem-1{
	margin-top: 8%;
	margin-bottom: 8%;
}

#btCancelarObs{
	background: url('../img/bt_fechar.png') no-repeat;
	width: 187px;
	height: 73px;
	border: none;
}

#btCancelarObs:hover {
	background: url('../img/bt_fechar_hv.png');
	width: 187px;
	height: 73px;
	border: none;
}













@media screen and (max-width:1440px) {
	.botoes-r3 {
		margin-left: 20px;
		margin-right: 20px;
	}

	.topo-logo {
		margin-top: -4%;
	}

}

@media screen and (max-width:1366px) {
	.botoes-r3 {
		margin-left: 0px;
		margin-right: 0px;
	}

}

@media screen and (width:1366px) {
	.container {
		margin-top: 10px;
		color: white;
		transition: 300ms ease-in;
	}
}

@media screen and (max-width:1024px) {

	html,
	body {
		background-size: cover, 200px, cover;
		background-position: -50px 0, 100% center, center center;
	}

	.topo-logo {
		margin-top: -5%;
	}

}



@media screen and (max-width:820px) {

	.topo-logo {
		margin-top: -6%;
	}

}

@media screen and (max-width:800px) {
	/* .container {
		background-color: rgba(255, 255, 255, 0.92);
		border-radius: 10px;
		color: #767676;
		margin-top: 10px;

	} */

	#info {
		font-size: 1.4em;
	}

	div#r02 {
		padding-bottom: 50px;
	}

	a>label {
		background-color: transparent;
	}

	.destaque.icone {
		margin-top: 90px;
		padding-left: 40px;
		padding-top: 80px;
	}

	.destaque.icone::before {
		top: -60px;
		bottom: unset;
		left: 0;
		right: 0;
	}
}





@media screen and (max-width:768px) {
	h2 {
		margin-bottom: 20px;
		margin-top: 30px;
		font-weight: bold;
		font-family: figtree-bold;
		font-size: 1.8em;
		margin-left: 0px;
	}

	.topo-logo {
		margin-top: -7%;
	}

}













@media screen and (max-width:480px) {
	.container {
		background-color: transparent;
		border-radius: 10px;
		color: white;
		margin-top: 10px;
		width: 90%;
		height: 50%;
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding-bottom: 40px;
	}

	html,
	body {
		background-image: url('../img/bg.png');
		background-size: cover !important;
		background-repeat: inherit;
		background-position: left top;
	}

	.container #r02 div a,
	#r03 div a {
		position: relative;
		display: inline-block;

	}

	a>label {
		display: block;
		position: inline;
		font-size: 1.8em;
		text-align: left;
		margin-left: 20px;
		margin-top: 15px !important;
	}

	#r03,
	#r04,
	#r05 {
		width: 100%;
		height: 50%;
	}

	header {
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: hsla(0, 0%, 0%, 0.80);
	}

	header h1 {
		font-size: 1.4em;
		font-weight: 700;
		color: white;
		margin-left: 10px;
		margin-right: 10px;

	}

	p,
	li,
	th,
	td,
	a,
	.figure-caption,
	.botao,
	.tab-pane {
		font-family: figtree;
		font-size: 0.8em;
	}

	h2 {
		margin-bottom: 20px;
		margin-top: 30px;
		font-weight: bold;
		font-family: figtree-bold;
		font-size: 1.4em;
		margin-left: 0px;
	}

	.botoes-r3 {
		margin-left: unset;
		margin-right: unset;
	}

	.topo-logo {
		margin-top: -3%;
	}





}

@media screen and (max-width: 414px) {
	h2 {
		margin-bottom: 20px;
		margin-top: 20px;
		font-weight: bold;
		font-family: figtree-bold;
		font-size: 1.4em;
		margin-left: 0px;
	}

	.topo-logo {
		margin-top: -3%;
	}
}

@media screen and (max-width: 375px) {
	h2 {
		margin-bottom: 20px;
		margin-top: 20px;
		font-weight: bold;
		font-family: figtree-bold;
		font-size: 1.3em;
		margin-left: 0px;
	}
}

@media screen and (max-width:320px) {
	.container h2 {
		margin-top: 2px;
		font-size: 3em;
		font-weight: 700;
	}

	#r01 {
		margin-bottom: 2px !important;
	}

	.container h3 {
		font-size: 1.6em;
		margin-top: 1px;
	}

	#r03,
	#r04,
	#r05 {
		width: 100%;
		height: 60%;
	}

}