.activity-container {
    /* border: 1px solid #dee2e6; */
    /* border-radius: 8px; */
    /* padding: 20px; */
    margin-bottom: 30px;
}

.word-bank {
    min-height: 80px;
    margin: 15px 0;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.word-item {
    cursor: pointer;
    margin: 5px;
    padding: 8px 15px;
    background-color: #a3c2ed;
    color: black;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s;
    border: 2px dashed;
}

.word-item.used {
    background-color: #6c757d !important;
    opacity: 0.7;
    cursor: not-allowed;
}

.word-item:hover {
    background-color: #c7ddfd;
}

.blank-input {
    display: inline-block;
    width: 120px;
    margin: 0 5px;
    border: 2px dashed #ffc107;
    border-radius: 5px;
    padding: 5px;
}

.correct { background-color: #d4edda !important; border-color: #198754;}
.incorrect { background-color: #f8d7da !important;  border-color:#fc5b68}
.blank-input.selected {
    outline: 2px solid #0d6efd;
    outline-offset: 2px;
}
.sentences{
    margin-left: 20px;
}
.activity-container .sentences > p{
    position: relative;
}
.activity-container .sentences > p:before{
    content: '';
    position: absolute;
    top: 19px;
    left: -22px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0d6efd;
    display: block;
}

.inline-feedback {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .inline-feedback .text-success {
    color: #3c763d; /* verde Bootstrap */
  }
  
  .inline-feedback .text-danger {
    color: #a94442; /* vermelho Bootstrap */
  }
  
  .blank-input.correct {
    border: 2px solid #3c763d;
    background-color: #dff0d8;
  }
  
  .blank-input.incorrect {
    border: 2px solid #a94442;
    background-color: #f2dede;
  }
  