body {
    background: url('../img/backg.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.painel-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    margin-left: 17%;
}

.figura-1 {
    margin-top: 10%;
}

.texto-diferente {
    color: #4095ae;
    font-size: 1.2em;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
}

.margem-texto {
    margin-top: 5%;
}

.margem {
    margin-bottom: 16%;
}



.info-box {
    display: flex;
    align-items: center;
    width: 391px;
    height: 102px;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0 20px;
    background-size: cover;
    background-position: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.bg-info1-a {
    background-image: url('../img/info1_a.png');
}

.bg-info1-b {
    background-image: url('../img/info1_b.png');
}

.info-row {
    margin-bottom: 2rem;
}

.painel-info {
    display: block;
}

.painel-info-mobile {
    display: none;
}


.nav-tabs .nav-link {
    padding: 10px 40px;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
    color: #fff;
    border-width: 3px;
    border-bottom: unset;
    margin-bottom: -2px;
    margin-right: 5px;
}

.nav li {
    font-size: .85em;

}

.nav-item button {
    height: 71px;
}

.nav-tabs .nav-link {
    padding: 10px 25px;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
}

.tab-content {
    border-width: 3px;
    border-style: solid;
    padding: 40px;
    border-radius: 0 15px 15px 15px;
}

.marcador-diferente {
    background: url('../img/marcador_h5.png') no-repeat left top 0px / 32px;
    list-style: none;
    padding-left: 40px;
}

.marcador-azul li {
    background: url('../img/marcador2.png') no-repeat left top 13px / 10px;
    list-style: none;
    padding-left: 30px;
}

.painel-conseq {
    background: url('../img/info2_bg.png') no-repeat;
    width: 655px;
    height: 412px;
    margin: auto;
}



















.bg-escuro .accordion-body p {
    color: #fff;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}


.bg-escuro .texto-botao {
    color: #fff;
}

.bg-escuro .flip-card-back p {
    color: #000;
}

.bg-escuro .bt-tooltip {
    color: #fff;
}

.bg-escuro .tab-content p {
    color: #fff;
}

.bg-escuro .figure-caption {
    color: #fff;
}

.bg-escuro .tab-content li {
    color: #fff;
}


.bt-objeto::after {
    content: 'espera';
    display: block;
    position: absolute;
    width: 150px;
    height: 52px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 15px;
    display: block;
    z-index: 3;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #fff;
    transition: all .4s;
}

.ilustracao {
    border-radius: 20px;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 1400px) {
    body {
        background: url('../img/backg.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
}

@media screen and (max-width: 1300px) {
    body {
        background: none;
    }
}


@media screen and (max-width: 1024px) {
    .margem-texto {
        margin-top: 5%;
    }
}


@media screen and (max-width: 820px) {
    .painel-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        width: 600px;
        margin-left: 10%;
    }

    .figura-1 {
        margin-top: 32%;
    }

    .margem-texto {
        margin-top: 2%;
    }

}

@media screen and (max-width: 770px) {
    .painel-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        width: 600px;
        margin-left: 8%;
    }

    .figura-1 {
        margin-top: 10%;
    }

    .bg-info1-a,
    .bg-info1-b {
        transform: scale(0.84);
    }

    .marcador-azul li {
        background: url(../img/marcador2.png) no-repeat left top 8px / 10px;
        list-style: none;
        padding-left: 30px;
    }
}



@media screen and (max-width: 500px) {

    .painel-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: auto;
        margin-left: unset;
        gap: 15px;
    }

    .figura-1 {
        margin-top: 10%;
    }

    .texto-diferente {
        color: #4095ae;
        font-size: 1.2em;
        margin-top: 7%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .margem-texto {
        margin-top: 10%;
    }

    .painel-info {
        display: none;
    }

    .painel-info-mobile {
        display: block;
    }

    .marcador-azul li {
        background: url('../img/marcador2.png') no-repeat left top 8px / 10px;
        list-style: none;
        padding-left: 25px;
    }

    .coluna-2 {
        margin-top: -11px;
    }
}

@media screen and (max-width: 414px) {}

@media screen and (max-width: 375px) {}