body {
    background: url('../img/bg_elem1.png') 0% 0.5%,
        url('../img/bg_elem2.png') 100% 11%,
        url('../img/bg_elem3.png') 0% 31%,
        url('../img/bg_elem4.png') 100% 49%,
        url('../img/bg_elem5.png') 0% 65%,
        url('../img/bg_elem6.png') 100% 97%,

        linear-gradient(-60deg,
            rgba(17, 141, 176, 0.4),
            rgba(255, 255, 255, 0.4),
            rgba(146, 172, 206, 0.4));

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: auto, auto, auto, auto, auto, auto, cover;
}

.container {
    max-width: 960px;
    position: relative;
    padding: 0 30px;
}

.painel-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    margin-left: 17%;
}

.figura-1 {
    margin-top: 10%;
}

.texto-diferente {
    color: #4095ae;
    font-size: 1.2em;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
}

.margem-texto {
    margin-top: 5%;
}

.margem {
    margin-bottom: 16%;
}

.info-box {
    display: flex;
    align-items: center;
    width: 391px;
    height: 102px;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0 20px;
    background-size: cover;
    background-position: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.bg-info1-a {
    background-image: url('../img/info1_a.png');
}

.bg-info1-b {
    background-image: url('../img/info1_b.png');
}

.info-row {
    margin-bottom: 2rem;
}

.painel-info {
    display: block;
}

.painel-info-mobile {
    display: none;
}

.nav-tabs .nav-link {
    padding: 10px 40px;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
    color: #fff;
    border-width: 3px;
    border-bottom: unset;
    margin-bottom: -2px;
    margin-right: 5px;
}

.nav li {
    font-size: .85em;

}

.nav-item button {
    height: 71px;
}

.nav-tabs .nav-link {
    padding: 10px 25px;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
}

.tab-content {
    border-width: 3px;
    border-style: solid;
    padding: 40px;
    border-radius: 0 15px 15px 15px;
}

.marcador-diferente {
    background: url('../img/marcador_h5.png') no-repeat left top 0px / 32px;
    list-style: none;
    padding-left: 40px;
}

.marcador-diferente2 {
    background: url('../img/marcador_h5.png') no-repeat left top 0px / 27px;
    list-style: none;
    padding-left: 40px;
}

.marcador-azul li {
    background: url('../img/marcador2.png') no-repeat left top 13px / 10px;
    list-style: none;
    padding-left: 30px;
}

.painel-conseq {
    background: url('../img/info2_bg.png') no-repeat;
    width: 655px;
    height: 412px;
    margin: auto;
}

.botao-painel {
    background-color: transparent;
    color: transparent;
    border: none;
    overflow: visible;
}

.botao-positivas {
    position: relative;
    background: url('../img/info2_pos.png');
    background-repeat: no-repeat;
    width: 197px;
    height: 183px;
    top: 12%;
    left: 73%;
}

.botao-positivas::before {
    content: '';
    position: absolute;
    top: -13%;
    left: -33%;
    width: 335px;
    height: 255px;
    background: url('../img/info2_hover.png');
    background-repeat: no-repeat;
    background-position: center center;

    opacity: 0;
}

.botao-positivas:hover::before {
    opacity: 1;
}

.botao-positivas::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/info2_pos.png');
    background-repeat: no-repeat;
    opacity: 1;
}

.botao-negativas {
    position: relative;
    background: url('../img/info2_neg.png');
    background-repeat: no-repeat;
    width: 213px;
    height: 171px;
    top: 40%;
    left: -36%;
}

.botao-negativas::before {
    content: '';
    position: absolute;
    top: -26%;
    left: -30%;
    width: 335px;
    height: 255px;
    background: url('../img/info2_hover.png');
    background-repeat: no-repeat;
    background-position: center center;

    opacity: 0;
}

.botao-negativas:hover::before {
    opacity: 1;
}

.botao-negativas::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/info2_neg.png');
    background-repeat: no-repeat;
    opacity: 1;
}

.card-fig {
    border: 1pt solid #207893;
    box-shadow: 7px 9px 0 #207893;
    padding: 39px 20px 20px 63px;
    margin: 40px auto;
    position: relative;
    max-width: 700px;
    background: #fff;
    border-radius: 4px;
    margin-top: 8%;
}

.card-fig li {
    line-height: 2em;
}

.marcador-numeral li {
    list-style: none;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: left top 11px;
}

.marcador-n li {
    background-position: left top 5px;
}

.personagem-2 {
    margin-top: 10%;
}

/* flip-cards */

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 280px;
    perspective: 1000px;
    margin: 15px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 18px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #92ACCE, #207893);
    color: white;
    font-size: 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.flip-card-front img {
    height: auto;
    margin-bottom: 15px;
}

.flip-img1 {
    width: 184px;
    height: 162px;
    margin-top: 10%;
}

.flip-img2 {
    width: 184px;
    height: 184px;
    margin-top: 10%;
}

.flip-card-back {
    transform: rotateY(180deg);
}

/* fim flip-cards */

.bg-escuro .accordion-body p {
    color: #fff;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}


.bg-escuro .texto-botao {
    color: #fff;
}

.bg-escuro .flip-card-back p {
    color: #000;
}

.bg-escuro .bt-tooltip {
    color: #fff;
}

.bg-escuro .tab-content p {
    color: #fff;
}

.bg-escuro .figure-caption {
    color: #fff;
}

.bg-escuro .tab-content li {
    color: #fff;
}

.bt-objeto::after {
    content: 'espera';
    display: block;
    position: absolute;
    width: 150px;
    height: 52px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 15px;
    display: block;
    z-index: 3;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #fff;
    transition: all .4s;
}

.ilustracao {
    border-radius: 20px;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.15));
}

.m-bottom{
    padding-bottom: 10%;
}

@media screen and (max-width: 1500px) {

    body {
        background: url('../img/bg_elem1.png') 0% 0.5%,
            url('../img/bg_elem2.png') 100% 11%,
            url('../img/bg_elem3.png') 0% 31%,
            url('../img/bg_elem4.png') 100% 49%,
            url('../img/bg_elem5.png') 0% 65%,
            url('../img/bg_elem6.png') 100% 97%,

            linear-gradient(-60deg,
                rgba(17, 141, 176, 0.4),
                rgba(255, 255, 255, 0.4),
                rgba(146, 172, 206, 0.4));

        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: 17%, 17%, 18%, 17%, 17%, 15%, cover;
    }
}



@media screen and (max-width: 1400px) {

    body {
        background: url('../img/bg_elem1.png') 0% 0.5%,
            url('../img/bg_elem2.png') 100% 11%,
            url('../img/bg_elem3.png') 0% 31%,
            url('../img/bg_elem4.png') 100% 49%,
            url('../img/bg_elem5.png') 0% 65%,
            url('../img/bg_elem6.png') 100% 97%,

            linear-gradient(-60deg,
                rgba(17, 141, 176, 0.4),
                rgba(255, 255, 255, 0.4),
                rgba(146, 172, 206, 0.4));

        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: 17%, 17%, 18%, 17%, 17%, 15%, cover;
    }
}

@media screen and (max-width: 1370px) {
    body {
        background: url('../img/bg_elem1.png') 0% 0.5%,
            url('../img/bg_elem2.png') 100% 11%,
            url('../img/bg_elem3.png') 0% 31%,
            url('../img/bg_elem4.png') 100% 49%,
            url('../img/bg_elem5.png') 0% 65%,
            url('../img/bg_elem6.png') 100% 97%,

            linear-gradient(-60deg,
                rgba(17, 141, 176, 0.4),
                rgba(255, 255, 255, 0.4),
                rgba(146, 172, 206, 0.4));

        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: 15%, 15%, 16%, 15%, 15%, 14%, cover;
    }

}


@media screen and (max-width: 1024px) {
    .margem-texto {
        margin-top: 5%;
    }

    body {
        background:
            linear-gradient(-60deg,
                rgba(17, 141, 176, 0.4),
                rgba(255, 255, 255, 0.4),
                rgba(146, 172, 206, 0.4));
        background-size: cover;
    }

}


@media screen and (max-width: 820px) {
    body {
        overflow-x: hidden !important;
    }

    .painel-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        width: 600px;
        margin-left: 10%;
    }

    .figura-1 {
        margin-top: 32%;
    }

    .margem-texto {
        margin-top: 2%;
    }

    .personagem-1 {
        margin-top: 15%;
    }

    .personagem-2 {
        margin-top: 16%;
    }

    .container {
        width: 100% !important;
        max-width: none !important;
        margin: 0 auto !important;

    }

    .botao-positivas::before {
        content: '';
        position: absolute;
        top: -13%;
        left: -40%;
        width: 335px;
        height: 255px;
        background: url(../img/info2_hover.png);
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0;
    }

    .botao-positivas {
        position: relative;
        background: url(../img/info2_pos.png);
        background-repeat: no-repeat;
        width: 197px;
        height: 183px;
        top: 12%;
        left: 69%;
    }

}

@media screen and (max-width: 770px) {
    .painel-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        width: 600px;
        margin-left: 8%;
    }

    .figura-1 {
        margin-top: 10%;
    }

    .bg-info1-a,
    .bg-info1-b {
        transform: scale(0.84);
    }

    .marcador-azul li {
        background: url(../img/marcador2.png) no-repeat left top 8px / 10px;
        list-style: none;
        padding-left: 30px;
    }

    .personagem-1 {
        margin-top: unset;
    }

    .personagem-2 {
        margin-top: 25%;
    }

    .topo-logo {
        background-size: auto, 10%;
    }

    body {
        overflow-x: hidden !important;
    }

    .botao-positivas::before {
        content: '';
        position: absolute;
        top: -13%;
        left: -40%;
        width: 335px;
        height: 255px;
        background: url(../img/info2_hover.png);
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0;
    }

    .botao-positivas {
        position: relative;
        background: url(../img/info2_pos.png);
        background-repeat: no-repeat;
        width: 197px;
        height: 183px;
        top: 12%;
        left: 69%;
    }
}



@media screen and (max-width: 500px) {
    .topo-logo {
        background-size: auto, 14%;
    }

    .painel-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: auto;
        margin-left: unset;
        gap: 15px;
    }

    .figura-1 {
        margin-top: 10%;
    }

    .texto-diferente {
        color: #4095ae;
        font-size: 1.2em;
        margin-top: 7%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .margem-texto {
        margin-top: 10%;
    }

    .painel-info {
        display: none;
    }

    .painel-info-mobile {
        display: block;
    }

    .marcador-azul li {
        background: url('../img/marcador2.png') no-repeat left top 8px / 10px;
        list-style: none;
        padding-left: 25px;
    }

    .coluna-2 {
        margin-top: -11px;
    }

    .painel-conseq {
        transform: scale(0.5);
        margin-left: -44%;
        margin-top: -17%;
    }

    .card-fig {
        border: 1pt solid #207893;
        box-shadow: 7px 9px 0 #207893;
        padding: 39px 20px 20px 30px;
        margin: 40px auto;
        position: relative;
        max-width: 700px;
        background: #fff;
        border-radius: 4px;
        margin-top: 8%;
    }

    .marcador-numeral li {
        list-style: none;
        padding-left: 30px;
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: left top 6px;
    }

    .personagem-2 {
        margin-top: 10%;
    }
}

@media screen and (max-width: 414px) {
    .painel-conseq {
        transform: scale(0.5);
        margin-left: -44%;
        margin-top: -17%;
    }
}

@media screen and (max-width: 390px) {
    .painel-conseq {
        transform: scale(0.45);
        margin-left: -49%;
        margin-top: -17%;
    }

    .card-fig {
        border: 1pt solid #207893;
        box-shadow: 7px 9px 0 #207893;
        padding: 39px 20px 20px 10px;
        margin: 40px auto;
        position: relative;
        max-width: 700px;
        background: #fff;
        border-radius: 4px;
        margin-top: 8%;
    }
}

@media screen and (max-width: 375px) {
    .painel-conseq {
        transform: scale(0.45);
        margin-left: -54%;
        margin-top: -17%;
    }
}