body {
    background: url('../img/bg_elem.png') 100% 0.5%,
        url('../img/bg.jpg') fixed;
    background-size: auto, cover;
    background-repeat: no-repeat, no-repeat;
}


.texto-diferente {
    color: #4095ae;
    font-size: 1.2em;
    margin-top: 3%;
    margin: 8%;
}


.texto-diferente-5 {
    color: #4095ae;
    font-size: 1.1em;
    margin-top: 3%;
}


.card-fig {
    border: 1pt solid #207893;
    box-shadow: 7px 9px 0 #207893;
    padding: 40px 15px 40px 150px;
    margin: 40px auto;
    position: relative;
    max-width: 850px;
    background: #fff;
    border-radius: 4px;
    margin-top: 8%;
}

.img-lateral {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
    position: absolute;
    margin-top: -2%;
    margin-left: -41%;
}

.img-lateral2 {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
    position: absolute;
    margin-top: -5%;
    margin-left: -41%;
}

.table {
    width: 85%;
    margin: auto;
}

.marcador-azul li {
    background: url('../img/marcador2.png') no-repeat left top 13px / 10px;
    list-style: none;
    padding-left: 30px;
}

.painel-sistema {
    background: url('../img/painel_docs.png') no-repeat;
    width: 803px;
    height: 822px;
    margin: 30px auto;
    position: relative;
}

.painel-sistema button {
    position: absolute;
    border: none;
    background: transparent;
    height: 84px;
    width: 180px;
}

.botao-interno {
    left: 21%;
    top: 25%;
}

.botao-consulta {
    left: 21%;
    top: 43%;
}

.botao-fiscais {
    left: 21%;
    top: 60%;
}

.botao-relatorios {
    left: 21%;
    top: 78%;
}

.figura-1 {
    margin-top: 13%;
}

.painel-normas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.botao-norma {
    background: url('../img/bt1.png') no-repeat;
    width: 466px;
    height: 312px;
    border: none;
}

.botao-norma:hover {
    background: url('../img/bt1_hv.png') no-repeat;
}


.parte-1 {
    display: flex;
}

.parte-2 {
    display: flex;
}

.parte-3 {
    display: flex;
}

.parte-4 {
    display: flex;
}

.espaco-marcador li {
    margin-left: 8%;
}

.img-anatomia {
    width: 302px;
    height: 205px;
}

.img-antro {
    width: 303px;
    height: 184px;
}

.img-bio {
    width: 302px;
    height: 184px;
}

.img-fisio {
    width: 302px;
    height: 227px;
}

.img-organismo {
    width: 303px;
    height: 186px;
}

.img-trabalho {
    width: 302px;
    height: 206px;
}

.img-psico {
    width: 302px;
    height: 296px;
}

.img-engenharia {
    width: 302px;
    height: 254px;
}

.img-ciencia {
    width: 302px;
    height: 207px;
}

.img-arq {
    width: 303px;
    height: 229px;
}

.img-socio {
    width: 303px;
    height: 203px;
}

.img-central {
    width: 285px;
    height: 255px;
}

.painel-placas {
    background: url(../img/painel_bg.png) no-repeat;
    width: 961px;
    height: 546px;
    margin: 30px auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.botao-vermelha {
    background: url('../img/painel_bt1.png') no-repeat;
    width: 190px;
    height: 193px;
    border: none;
}

.botao-vermelha:hover {
    background: url('../img/painel_bt1_hv.png') no-repeat;
}

.botao-laranja {
    background: url('../img/painel_bt2.png') no-repeat;
    width: 190px;
    height: 193px;
    border: none;
}

.botao-laranja:hover {
    background: url('../img/painel_bt2_hv.png') no-repeat;
}

.botao-amarela {
    background: url('../img/painel_bt3.png') no-repeat;
    width: 190px;
    height: 193px;
    border: none;
}

.botao-amarela:hover {
    background: url('../img/painel_bt3_hv.png') no-repeat;
}

.botao-verde {
    background: url('../img/painel_bt4.png') no-repeat;
    width: 190px;
    height: 193px;
    border: none;
}

.botao-verde:hover {
    background: url('../img/painel_bt4_hv.png') no-repeat;
}

.botao-azul {
    background: url('../img/painel_bt5.png') no-repeat;
    width: 190px;
    height: 193px;
    border: none;
}

.botao-azul:hover {
    background: url('../img/painel_bt5_hv.png') no-repeat;
}

.botao-violeta {
    background: url('../img/painel_bt6.png') no-repeat;
    width: 190px;
    height: 193px;
    border: none;
}

.botao-violeta:hover {
    background: url('../img/painel_bt6_hv.png') no-repeat;
}

.botao-branca {
    background: url('../img/painel_bt7.png') no-repeat;
    width: 190px;
    height: 193px;
    border: none;
}

.botao-branca:hover {
    background: url('../img/painel_bt7_hv.png') no-repeat;
}

.marcador-quadrado li {
    background: url('../img/checkmark.png') no-repeat left top 10px / 17px;
    list-style: none;
    padding-left: 30px;
}

.nav-tabs .nav-link {
    padding: 10px 40px;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
    color: #fff;
    border-width: 3px;
    border-bottom: unset;
    margin-bottom: -2px;
    margin-right: 5px;
}

.nav li {
    font-size: .85em;
}

.nav-item button {
    height: 71px;
}

.nav-tabs .nav-link {
    padding: 10px 25px;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
}

.tab-content {
    border-width: 3px;
    border-style: solid;
    padding: 40px;
    border-radius: 0 15px 15px 15px;
}

.bg-escuro .accordion-body p {
    color: #fff;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}


.bg-escuro .texto-botao {
    color: #fff;
}

.bg-escuro .flip-card-back p {
    color: #000;
}

.bg-escuro .bt-tooltip {
    color: #fff;
}

.bg-escuro .tab-content p {
    color: #fff;
}

.bg-escuro .figure-caption {
    color: #fff;
}

.bg-escuro .tab-content li {
    color: #fff;
}

.bg-escuro .carousel-control-prev,
.bg-escuro .carousel-control-next {
    background-color: transparent;
}

.bg-escuro #carousel3 {
    background-color: #fff;
}

.bg-escuro .figura-14 {
    background-color: #fff;
}

.bg-escuro .img3 img {
    background-color: #fff;
    border-radius: 10px;
}

.bg-escuro .card-fig p {
    color: #000;
}

.bg-escuro .card-fig2 p {
    color: #000;
}

.bt-objeto::after {
    content: 'espera';
    display: block;
    position: absolute;
    width: 150px;
    height: 52px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 15px;
    display: block;
    z-index: 3;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #fff;
    transition: all .4s;
}

.ilustracao {
    border-radius: 20px;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.15));
}

.card-body p{
    font-size: 0.8em;
}

@media screen and (max-width: 1440px) {

    body {
        background: url('../img/bg_elem.png') 100% 0.5%,
            url('../img/bg.jpg') fixed;
        background-size: 17%, cover;
        background-repeat: no-repeat, no-repeat;
    }
}

@media screen and (max-width: 1400px) {
    body {
        background: url('../img/bg_elem.png') 100% 0.5%;
        background-size: 15%;
        background-repeat: no-repeat;
    }
}


@media screen and (max-width: 1300px) {}


@media screen and (max-width: 1024px) {
    .img-lateral {
        display: block;
        margin: 0 auto 20px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: 1%;
        margin-left: -45%;
        transform: scale(0.9);
    }

    .card-fig {
        border: 1pt solid #207893;
        box-shadow: 7px 9px 0 #207893;
        padding: 40px 15px 40px 150px;
        margin: 40px auto;
        position: relative;
        max-width: 750px;
        background: #fff;
        border-radius: 4px;
        margin-top: 8%;
    }

    .img-lateral2 {
        display: block;
        margin: 0 auto 20px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: -5%;
        margin-left: -45%;
        transform: scale(0.9);
    }

    body {
        background: none;
    }

}

@media screen and (max-width: 820px) {
    .card-fig {
        border: 1pt solid #207893;
        box-shadow: 7px 9px 0 #207893;
        padding: 40px 15px 40px 150px;
        margin: 40px auto;
        position: relative;
        max-width: 620px;
        background: #fff;
        border-radius: 4px;
        margin-top: 8%;
    }

    .img-lateral {
        display: block;
        margin: 0 auto 20px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: 9%;
        margin-left: -51%;
        transform: scale(0.8);
    }

    .img-lateral2 {
        display: block;
        margin: 0 auto 20px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: -2%;
        margin-left: -51%;
        transform: scale(0.8);
    }


    .painel-sistema {
        transform: scale(0.9);
        margin-left: -2%;
        margin-top: -4%;
    }


    .figura-1 {
        margin-top: 38%;
    }

    .parte-1,
    .parte-2,
    .parte-3,
    .parte-4 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        transform: scale(0.8);
    }



    .painel-placas {
        display: flex;
        background: unset;
        width: auto;
        height: auto;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }




}

@media screen and (max-width: 770px) {
    .card-fig {
        border: 1pt solid #207893;
        box-shadow: 7px 9px 0 #207893;
        padding: 40px 15px 40px 150px;
        margin: 40px auto;
        position: relative;
        max-width: 620px;
        background: #fff;
        border-radius: 4px;
        margin-top: 8%;
    }

    .img-lateral {
        display: block;
        margin: 0 auto 20px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: -5%;
        margin-left: -49%;
        transform: scale(0.7);
    }

    .img-lateral2 {
        display: block;
        margin: 0 auto 20px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: -9%;
        margin-left: -51%;
        transform: scale(0.7);
    }

    .marcador-azul li {
        background: url(../img/marcador2.png) no-repeat left top 8px / 10px;
        list-style: none;
        padding-left: 30px;
    }


    .painel-sistema {
        transform: scale(0.8);
        margin-left: -8%;
        margin-top: -4%;
    }

    .figura-1 {
        margin-top: 13%;
    }

    .marcador-quadrado li {
        background: url(../img/checkmark.png) no-repeat left top 7px / 17px;
        list-style: none;
        padding-left: 30px;
    }


}


@media screen and (max-width: 700px) {

    .card-fig {
        border: 1pt solid #207893;
        box-shadow: 7px 9px 0 #207893;
        padding: 113px 15px 40px 20px;
        margin: 40px auto;
        position: relative;
        max-width: 620px;
        background: #fff;
        border-radius: 4px;
        margin-top: 33%;
    }


    .img-lateral {
        display: block;
        margin: 0 auto 20px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: -76%;
        margin-left: -9%;
        transform: scale(0.7);
    }

    .img-lateral2 {
        display: block;
        margin: 0 auto 20px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: -82%;
        margin-left: -15%;
        transform: scale(0.7);
    }

    .table {
        width: 85%;
        margin: auto;
    }


    .painel-sistema {
        transform: scale(0.5);
        margin-left: -35%;
        margin-top: -37%;
        margin-bottom: -29%;
    }

    .parte-1,
    .parte-2,
    .parte-3,
    .parte-4 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        transform: unset;
    }

    .painel-normas {
        transform: scale(0.7);
        margin-left: -3%;
        margin-top: -3%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 3%;
    }

    .painel-placas {
        display: flex;
        background: unset;
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .marcador-quadrado li {
        background: url('../img/checkmark.png') no-repeat left top 10px / 17px;
        list-style: none;
        padding-left: 30px;
    }

}

@media screen and (max-width: 500px) {

    .marcador-azul li {
        background: url('../img/marcador2.png') no-repeat left top 8px / 10px;
        list-style: none;
        padding-left: 25px;
    }

    .marcador-quadrado li {
        background: url(../img/checkmark.png) no-repeat left top 5px / 17px;
        list-style: none;
        padding-left: 30px;
    }

    .painel-sistema {
        transform: scale(0.5);
        margin-left: -57%;
        margin-top: -47%;
    }

    .img-lateral2 {
        display: block;
        margin: 0 auto 20px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: -77%;
        margin-left: -10%;
        transform: scale(0.7);
    }

    .painel-normas {
        transform: scale(0.7);
        margin-left: -3%;
        margin-top: -3%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 3%;
    }
}


@media screen and (max-width: 414px) {
    .painel-sistema {
        transform: scale(0.5);
        margin-left: -63%;
        margin-top: -47%;
        margin-bottom: -39%;
    }

}


@media screen and (max-width: 390px) {
    .painel-sistema {
        transform: scale(0.48);
        margin-left: -73%;
        margin-top: -47%;
        margin-bottom: -46%;
    }
}

@media screen and (max-width: 375px) {
    .painel-sistema {
        transform: scale(0.45);
        margin-left: -77%;
        margin-top: -61%;
    }
}