body {
    background: url('../img/BG.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.texto-diferente {
    color: #4095ae;
    font-size: 1.2em;
    margin-top: 3%;
}


.texto-diferente-5 {
    color: #4095ae;
    font-size: 1.1em;
    margin-top: 3%;
}


.card-fig {
    border: 1pt solid #207893;
    box-shadow: 7px 9px 0 #207893;
    padding: 40px 90px 40px 150px;
    margin: 40px auto;
    position: relative;
    max-width: 850px;
    background: #fff;
    border-radius: 4px;
    margin-top: 8%;
}

.img-lateral {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
    position: absolute;
    margin-top: -11%;
    margin-left: -35%;
}

.img-abaixo {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
    position: absolute;
    margin-top: -26%;
    margin-left: 63%;
}






























.bg-escuro .accordion-body p {
    color: #fff;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}


.bg-escuro .texto-botao {
    color: #fff;
}

.bg-escuro .flip-card-back p {
    color: #000;
}

.bg-escuro .bt-tooltip {
    color: #fff;
}

.bg-escuro .tab-content p {
    color: #fff;
}

.bg-escuro .figure-caption {
    color: #fff;
}

.bg-escuro .tab-content li {
    color: #fff;
}

.bg-escuro .carousel-control-prev,
.bg-escuro .carousel-control-next {
    background-color: transparent;
}

.bg-escuro #carousel3 {
    background-color: #fff;
}

.bg-escuro .figura-14 {
    background-color: #fff;
}

.bg-escuro .img3 img {
    background-color: #fff;
    border-radius: 10px;
}

.bg-escuro .card-fig p {
    color: #000;
}

.bg-escuro .card-fig2 p {
    color: #000;
}

.bt-objeto::after {
    content: 'espera';
    display: block;
    position: absolute;
    width: 150px;
    height: 52px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 15px;
    display: block;
    z-index: 3;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #fff;
    transition: all .4s;
}

.ilustracao {
    border-radius: 20px;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1400px) {
    body {
        background: none;
    }
}


@media screen and (max-width: 1300px) {}


@media screen and (max-width: 1024px) {
    .img-lateral {
        display: block;
        margin: 0 auto 20px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: -11%;
        margin-left: -33%;
        transform: scale(0.9);
    }

    body {
        background: none;
    }

}

@media screen and (max-width: 820px) {
    



}

@media screen and (max-width: 770px) {

    

}


@media screen and (max-width: 700px) {
   
}

@media screen and (max-width: 500px) {
   



}









@media screen and (max-width: 414px) {
  

}








@media screen and (max-width: 390px) {
   
}

@media screen and (max-width: 375px) {
   
}