body {
    background: url('../img/elem_paral_01.png') 100% 0.5%,
        url('../img/elem_paral_02.png') 100% 13%,
        url('../img/elem_paral_03.png') 100% 22%,
        url('../img/elem_paral_03.png') 100% 27%,
        url('../img/elem_paral_04.png') 95% 33%,
        url('../img/elem_paral_03.png') 100% 38%,
        url('../img/elem_paral_03.png') 100% 49%,
        url('../img/elem_paral_05.png') 98% 56%,
        url('../img/elem_paral_06.png') 98% 64%,
        url('../img/elem_paral_07.png') 98% 74%,
        url('../img/elem_paral_08.png') 98% 81%,
        url('../img/elem_paral_03.png') 100% 90%,

        url('../img/bg.jpg') fixed;

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;

}


.texto-diferente {
    color: #4095ae;
    font-size: 1.2em;
    margin-top: 3%;
}


.texto-diferente-5 {
    color: #4095ae;
    font-size: 1.1em;
    margin-top: 3%;
}



















.bg-escuro .accordion-body p {
    color: #fff;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}


.bg-escuro .texto-botao {
    color: #fff;
}

.bg-escuro .flip-card-back p {
    color: #000;
}

.bg-escuro .bt-tooltip {
    color: #fff;
}

.bg-escuro .tab-content p {
    color: #fff;
}

.bg-escuro .figure-caption {
    color: #fff;
}

.bg-escuro .tab-content li {
    color: #fff;
}

.bg-escuro .carousel-control-prev,
.bg-escuro .carousel-control-next {
    background-color: transparent;
}

.bg-escuro #carousel3 {
    background-color: #fff;
}

.bg-escuro .figura-14 {
    background-color: #fff;
}

.bg-escuro .img3 img {
    background-color: #fff;
    border-radius: 10px;
}

.bg-escuro .card-fig p {
    color: #000;
}

.bt-objeto::after {
    content: 'espera';
    display: block;
    position: absolute;
    width: 150px;
    height: 52px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 15px;
    display: block;
    z-index: 3;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #fff;
    transition: all .4s;
}

.ilustracao {
    border-radius: 20px;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 1440px) {
    body {
        background: url('../img/elem_paral_01.png') 100% 0.5%,
            url('../img/elem_paral_02.png') 100% 13%,
            url('../img/elem_paral_03.png') 100% 21.5%,
            url('../img/elem_paral_03.png') 100% 27%,
            url('../img/elem_paral_04.png') 98% 33%,
            url('../img/elem_paral_03.png') 100% 38%,
            url('../img/elem_paral_03.png') 100% 49%,
            url('../img/elem_paral_05.png') 98% 56%,
            url('../img/elem_paral_06.png') 98% 63%,
            url('../img/elem_paral_07.png') 98% 73%,
            url('../img/elem_paral_08.png') 98% 80.5%,
            url('../img/elem_paral_03.png') 100% 89%;

        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: 18%, 17%, 19%, 19%, 15%, 19%, 19%, 16%, 17%, 19%, 15%, 19%;
    }
}

@media screen and (max-width: 1400px) {
    body {
        background: url('../img/elem_paral_01.png') 100% 0.5%,
            url('../img/elem_paral_02.png') 100% 13%,
            url('../img/elem_paral_03.png') 100% 21.5%,
            url('../img/elem_paral_03.png') 100% 26.5%,
            url('../img/elem_paral_04.png') 98% 33%,
            url('../img/elem_paral_03.png') 100% 38%,
            url('../img/elem_paral_03.png') 100% 49%,
            url('../img/elem_paral_05.png') 98% 56%,
            url('../img/elem_paral_06.png') 98% 63%,
            url('../img/elem_paral_07.png') 98% 73%,
            url('../img/elem_paral_08.png') 98% 79.8%,
            url('../img/elem_paral_03.png') 100% 88%;

        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: 18%, 17%, 17%, 17%, 15%, 17%, 17%, 16%, 17%, 15%, 15%, 15%;
    }
}


@media screen and (max-width: 1300px) {
    body {
        background: none;
    }
}


@media screen and (max-width: 1024px) {}


@media screen and (max-width: 820px) {}

@media screen and (max-width: 770px) {}


@media screen and (max-width: 700px) {}

@media screen and (max-width: 500px) {}


@media screen and (max-width: 390px) {}

@media screen and (max-width: 375px) {}