body {
    background: url('../img/bg_parallax1.png') 0% 0.5%,
        url('../img/bg_parallax2.png') 0% 14%,
        url('../img/bg_parallax3.png') 0% 29.5%,
        url('../img/bg_parallax4.png') 0% 52%,
        url('../img/bg_parallax5.png') 0% 73%,
        url('../img/bg_parallax6.png') 0% 93%,
        url('../img/bg.jpg') fixed;

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;

}



.figura-1 {
    margin-left: 20%;
}

.texto-diferente {
    color: #4095ae;
    font-size: 1.2em;
    margin-top: 16%;
}

.texto-2 {
    margin-top: 2%;
}

.painel-comunicacao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.botao-interna {
    background: url('../img/bt1.png');
    width: 317px;
    height: 284px;
    border: none;
}

.botao-interna:hover {
    transform: scale(1.1);
}

.botao-externa {
    background: url('../img/bt2.png');
    width: 252px;
    height: 290px;
    border: none;
}

.botao-externa:hover {
    transform: scale(1.1);
}

.figura-3 {
    margin-top: 8%;
    margin-left: 8%;
}

.texto-diferente2 {
    color: #4095ae;
    font-size: 1.2em;
    margin-top: 6%;
    margin-left: 15%;
    margin-right: 15%;
}

.figura-4 {
    margin-top: -10%;
}

.margem-abaixo {
    margin-bottom: 10%;
}


.card-fig {
    border: 1pt solid #207893;
    box-shadow: 2px 2px 0 #207893;
    padding: 158px 20px 30px 20px;
    margin: 40px auto;
    position: relative;
    max-width: 700px;
    background: #fff;
    border-radius: 4px;
    margin-top: 25%;
}

.corner {
    width: 94px;
    height: 94px;
    background: url("../img/dest_canto.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.img-topo {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
    position: absolute;
    margin-top: -48%;
    margin-left: 11%;
}

.card-fig2 {
    border: 1pt solid #92ACCE;
    border-radius: 20px;
    box-shadow: 2px 2px 0 #207893;
    padding: 158px 20px 30px 20px;
    margin: 40px auto;
    position: relative;
    max-width: 700px;
    background: #fff;
    border-radius: 4px;
    margin-top: 25%;
    height: 940px;
}


.img-lado {
    display: block;
    margin: 0px auto 35px auto;
    max-width: 100%;
    height: auto;
    position: absolute;
    margin-top: -53%;
    margin-left: 60%;
}

.texto2 h5 {
    color: #207893;
}

.texto2 {
    padding: 0px 25px 5px 5px;
    margin-top: -34%;
}

.marcador-azul li {
    background: url('../img/marcador2.png') no-repeat left top 13px / 10px;
    list-style: none;
    padding-left: 30px;
}

.marcador-verde li {
    background: url('../img/marcador.png') no-repeat left top 13px / 10px;
    list-style: none;
    padding-left: 30px;
}

.figura-5 {
    margin-top: 0;
}

.texto-pensando {
    margin-top: 5%;
}


.texto-branco {
    color: #fff;
}

.bg-escuro .card-fig p {
    color: #000;
}

.bg-escuro .card-fig li {
    color: #000;
}

.bg-escuro .card-fig2 p {
    color: #000;
}

.bg-escuro .card-fig2 li {
    color: #000;
}

.bg-escuro .accordion-body p {
    color: #fff;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}


.bg-escuro .texto-botao {
    color: #fff;
}

.bg-escuro .flip-card-back p {
    color: #000;
}

.bg-escuro .bt-tooltip {
    color: #fff;
}

.bg-escuro .tab-content p {
    color: #fff;
}

.bg-escuro .figure-caption {
    color: #fff;
}

.bg-escuro .tab-content li {
    color: #fff;
}


.bt-objeto::after {
    content: 'espera';
    display: block;
    position: absolute;
    width: 150px;
    height: 52px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 15px;
    display: block;
    z-index: 3;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #fff;
    transition: all .4s;
}

.ilustracao {
    border-radius: 20px;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 1440px) {
body {
    background: url('../img/bg_parallax1.png') 0% 0.5%,
        url('../img/bg_parallax2.png') 0% 14%,
        url('../img/bg_parallax3.png') 0% 29.5%,
        url('../img/bg_parallax4.png') 0% 52%,
        url('../img/bg_parallax5.png') 0% 73%,
        url('../img/bg_parallax6.png') 0% 93%,
        url('../img/bg.jpg') fixed;

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 15%, 15%, 15%, 15%, 15%, 15%, cover ;

}
}




@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
        background:
            url('../img/bg.jpg') fixed;
        background-size: cover;
    }
}



@media screen and (max-width: 820px) {
    .figura-1 {
        margin-left: 12%;
    }

    .figura-3 {
        margin-top: 10%;
        margin-left: 0%;
        margin: auto;
    }

    .figura-4 {
        margin-top: unset;
    }

    .card-fig {
        border: 1pt solid #207893;
        box-shadow: 2px 2px 0 #207893;
        padding: 158px 20px 30px 20px;
        margin: 40px auto;
        position: relative;
        max-width: 700px;
        background: #fff;
        border-radius: 4px;
        margin-top: 35%;
    }

    .card-fig2 {
        border: 1pt solid #92ACCE;
        border-radius: 20px;
        box-shadow: 2px 2px 0 #207893;
        padding: 158px 20px 30px 5px;
        margin: 40px auto;
        position: relative;
        max-width: 700px;
        background: #fff;
        border-radius: 4px;
        margin-top: 25%;
        height: 1088px;
    }

    .img-lado {
        display: block;
        margin: 0px auto 35px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: -64%;
        margin-left: 60%;
    }

    .figura-5 {
        margin-top: 0;
    }

    .texto-pensando {
        margin-top: 1%;
    }

}





@media screen and (max-width: 770px) {
    .figura-1 {
        margin-left: 15%;
    }

    .figura-4 {
        margin-top: -10%;
    }

    .card-fig2 {
        border: 1pt solid #92ACCE;
        border-radius: 20px;
        box-shadow: 2px 2px 0 #207893;
        padding: 158px 20px 30px 5px;
        margin: 40px auto;
        position: relative;
        max-width: 700px;
        background: #fff;
        border-radius: 4px;
        margin-top: 25%;
        height: 879px;
    }

    .img-lado {
        display: block;
        margin: 0px auto 35px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: -66%;
        margin-left: 56%;
    }

    .figura-5 {
        margin-top: 0;
    }

    .texto-pensando {
        margin-top: 6%;
    }
}




@media screen and (max-width: 500px) {

    .figura-1 {
        margin-left: unset;
        margin: auto;
    }

    .texto-diferente {
        color: #4095ae;
        font-size: 1.2em;
        margin-top: 12%;
    }

    .painel-comunicacao {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        gap: 50px;
    }

    .figura-4 {
        margin-top: 2%;
    }

    .img-topo {
        display: block;
        margin: 0 auto 20px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: -67%;
        margin-left: -4%;
    }


    .card-fig {
        border: 1pt solid #207893;
        box-shadow: 2px 2px 0 #207893;
        padding: 158px 20px 30px 20px;
        margin: 40px auto;
        position: relative;
        max-width: 700px;
        background: #fff;
        border-radius: 4px;
        margin-top: 43%;
    }

    .marcador-azul li {
        background: url('../img/marcador2.png') no-repeat left top 8px / 10px;
        list-style: none;
        padding-left: 30px;
    }

    .marcador-verde li {
        background: url('../img/marcador.png') no-repeat left top 8px / 10px;
        list-style: none;
        padding-left: 30px;
    }

    .card-fig2 {
        border: 1pt solid #92ACCE;
        border-radius: 20px;
        box-shadow: 2px 2px 0 #207893;
        padding: 158px 20px 30px 20px;
        margin: 40px auto;
        position: relative;
        max-width: 700px;
        background: #fff;
        border-radius: 4px;
        margin-top: 25%;
        height: 845px;
    }

    .figura-5 {
        margin-top: unset;
    }

    .texto-pensando {
        margin-top: 5%;
    }
}











@media screen and (max-width: 414px) {

    .card-fig2 {
        border: 1pt solid #92ACCE;
        border-radius: 20px;
        box-shadow: 2px 2px 0 #207893;
        padding: 158px 20px 30px 20px;
        margin: 40px auto;
        position: relative;
        max-width: 700px;
        background: #fff;
        border-radius: 4px;
        margin-top: 25%;
        height: 874px;
    }

    .img-lado {
        display: block;
        margin: 0px auto 35px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: -62%;
        margin-left: 53%;
    }

}


@media screen and (max-width: 390px) {
    .img-lado {
        display: block;
        margin: 0px auto 35px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: -69%;
        margin-left: 48%;
    }

    .card-fig2 {
        border: 1pt solid #92ACCE;
        border-radius: 20px;
        box-shadow: 2px 2px 0 #207893;
        padding: 158px 20px 30px 20px;
        margin: 40px auto;
        position: relative;
        max-width: 700px;
        background: #fff;
        border-radius: 4px;
        margin-top: 25%;
        height: 915px;
    }

}

@media screen and (max-width: 375px) {
    .figura-3 {
        margin-top: 8%;
        margin-left: unset;
    }


    .card-fig2 {
        border: 1pt solid #92ACCE;
        border-radius: 20px;
        box-shadow: 2px 2px 0 #207893;
        padding: 149px 14px 28px 5px;
        margin: 40px auto;
        position: relative;
        max-width: 700px;
        background: #fff;
        border-radius: 4px;
        margin-top: 25%;
        height: 897px;
    }

    .img-lado {
        display: block;
        margin: 0px auto 35px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: -75%;
        margin-left: 50%;
    }

}