body {
    background: url('../img/backg.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.texto-diferente2 {
    color: #4095ae;
    font-size: 1.2em;
    margin-top: 6%;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: bold;
}





.custom-accordion .icon-on-top {
    margin-top: -13%;
    left: -2px;
    width: 102px;
    height: 99px;
    z-index: 2;
    position: relative;
}


.custom-accordion .btn-with-icon {
    padding-top: 1.5rem;
    /* Espaço pro ícone */
    padding-bottom: 1.5rem;
    /* Espaço pro ícone */
    background-color: #90b2d6;
    color: white;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    padding-left: 12%;

}

.custom-accordion h2 {
    height: 68px;
}

.custom-accordion .accordion-item {
    background: transparent;
    border: none;
    margin-bottom: 48px;
}

.flip-card {
    background-color: transparent;
    width: 651px;
    height: 437px;
    perspective: 1000px;
    cursor: pointer;
    margin: 20px;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: auto;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-inner {
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: #ccc;
}

.marcador-azul li {
    background: url('../img/marcador2.png') no-repeat left top 13px / 10px;
    list-style: none;
    padding-left: 30px;
}

.card-fig {
    border: 1pt solid #207893;
    box-shadow: 7px 9px 0 #207893;
    padding: 39px 20px 20px 63px;
    margin: 40px auto;
    position: relative;
    max-width: 700px;
    background: #fff;
    border-radius: 4px;
    margin-top: 8%;
}

.img-lateral {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
    position: absolute;
    margin-top: -5%;
    margin-left: -27%;
}

.texto-diferente {
    color: #4095ae;
    font-size: 1.2em;
    margin-top: 3%;
}


.texto-diferente-5 {
    color: #4095ae;
    font-size: 1.1em;
    margin-top: 3%;
}

.carousel {
    width: 589px;
    height: 461px;
    margin: auto;
}


.texto-slide {
    position: absolute;
    z-index: 2;
    margin-top: 68%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    width: 589px;
}













.bg-escuro .accordion-body p {
    color: #fff;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}


.bg-escuro .texto-botao {
    color: #fff;
}

.bg-escuro .flip-card-back p {
    color: #000;
}

.bg-escuro .bt-tooltip {
    color: #fff;
}

.bg-escuro .tab-content p {
    color: #fff;
}

.bg-escuro .figure-caption {
    color: #fff;
}

.bg-escuro .tab-content li {
    color: #fff;
}


.bt-objeto::after {
    content: 'espera';
    display: block;
    position: absolute;
    width: 150px;
    height: 52px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 15px;
    display: block;
    z-index: 3;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #fff;
    transition: all .4s;
}

.ilustracao {
    border-radius: 20px;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 1400px) {
    body {
        background: url('../img/backg.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
}

@media screen and (max-width: 1300px) {
    body {
        background: none;
    }
}










@media screen and (max-width: 1024px) {
    .custom-accordion .icon-on-top {
        margin-top: -13%;
        left: -13px;
        width: 102px;
        height: 99px;
        z-index: 2;
        position: relative;
    }

    .custom-accordion .btn-with-icon {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: #90b2d6;
        color: white;
        font-weight: bold;
        text-align: center;
        z-index: 1;
        padding-left: 12%;
    }

}







@media screen and (max-width: 820px) {
    .custom-accordion .icon-on-top {
        margin-top: -15%;
        left: -13px;
        width: 102px;
        height: 99px;
        z-index: 2;
        position: relative;
    }


    .img-lateral {
        display: block;
        margin: 0 auto 20px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: 0%;
        margin-left: -22%;
    }

    .card-fig {
        border: 1pt solid #207893;
        box-shadow: 7px 9px 0 #207893;
        padding: 39px 20px 20px 90px;
        margin: 40px auto;
        position: relative;
        max-width: 700px;
        background: #fff;
        border-radius: 4px;
        margin-top: 8%;
    }


    .texto-diferente {
        color: #4095ae;
        font-size: 1.2em;
        margin-top: 0%;
    }

    .figura-4 {
        margin-top: 6%;
    }

    .texto-diferente-5 {
        color: #4095ae;
        font-size: 1.1em;
        margin-top: -4%;
    }

}

@media screen and (max-width: 770px) {

    .custom-accordion .icon-on-top {
        margin-top: -17%;
        left: -13px;
        width: 102px;
        height: 99px;
        z-index: 2;
        position: relative;
    }

    .custom-accordion .btn-with-icon {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: #90b2d6;
        color: white;
        font-weight: bold;
        text-align: center;
        z-index: 1;
        padding-left: 14%;
    }

    .marcador-azul li {
        background: url(../img/marcador2.png) no-repeat left top 8px / 10px;
        list-style: none;
        padding-left: 30px;
    }





}






@media screen and (max-width: 700px) {
    .custom-accordion .icon-on-top {
        margin-top: -21%;
        left: -13px;
        width: 102px;
        height: 99px;
        z-index: 2;
        position: relative;
    }

    .custom-accordion .btn-with-icon {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: #90b2d6;
        color: white;
        font-weight: bold;
        text-align: center;
        z-index: 1;
        padding-left: 18%;
    }

    .texto-diferente {
        color: #4095ae;
        font-size: 1.2em;
        margin-top: 3%;
    }

    .texto-diferente-5 {
        color: #4095ae;
        font-size: 1.1em;
        margin-top: 3%;
    }

}





@media screen and (max-width: 500px) {
    .custom-accordion .icon-on-top {
        margin-top: -31%;
        left: -10px;
        width: 102px;
        height: 99px;
        z-index: 2;
        position: relative;
    }

    .custom-accordion .btn-with-icon {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: #90b2d6;
        color: white;
        font-weight: bold;
        text-align: center;
        z-index: 1;
        padding-left: 29%;
    }

    .flip-card {
        background-color: transparent;
        width: 651px;
        height: 242px;
        perspective: 1000px;
        cursor: pointer;
        margin: 20px;
    }

    .marcador-azul li {
        background: url('../img/marcador2.png') no-repeat left top 8px / 10px;
        list-style: none;
        padding-left: 30px;
    }

    .img-lateral {
        display: none;
    }

    .card-fig {
        border: 1pt solid #207893;
        box-shadow: 7px 9px 0 #207893;
        padding: 20px 5px 20px 20px;
        margin: 40px auto;
        position: relative;
        max-width: 700px;
        background: #fff;
        border-radius: 4px;
        margin-top: 8%;
    }

}













@media screen and (max-width: 414px) {}













@media screen and (max-width: 390px) {
    .custom-accordion .icon-on-top {
        margin-top: -36%;
        left: -10px;
        width: 102px;
        height: 99px;
        z-index: 2;
        position: relative;
    }



}

@media screen and (max-width: 375px) {

    .custom-accordion .btn-with-icon {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: #90b2d6;
        color: white;
        font-weight: bold;
        text-align: center;
        z-index: 1;
        padding-left: 31%;
    }
}