body {
    background: url('../img/elem_paral_01.png') 100% 0.5%,
        url('../img/elem_paral_02.png') 100% 13%,
        url('../img/elem_paral_03.png') 100% 22%,
        url('../img/elem_paral_03.png') 100% 27%,
        url('../img/elem_paral_04.png') 95% 33%,
        url('../img/elem_paral_03.png') 100% 38%,
        url('../img/elem_paral_03.png') 100% 49%,
        url('../img/elem_paral_05.png') 98% 56%,
        url('../img/elem_paral_06.png') 98% 64%,
        url('../img/elem_paral_07.png') 98% 74%,
        url('../img/elem_paral_08.png') 98% 81%,
        url('../img/elem_paral_03.png') 100% 90%,

        url('../img/bg.jpg') fixed;

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;

}

.texto-diferente2 {
    color: #4095ae;
    font-size: 1.2em;
    margin-top: 6%;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: bold;
}


.custom-accordion .icon-on-top {
    margin-top: -13%;
    left: -2px;
    width: 102px;
    height: 99px;
    z-index: 2;
    position: relative;
}


.custom-accordion .btn-with-icon {
    padding-top: 1.5rem;
    /* Espaço pro ícone */
    padding-bottom: 1.5rem;
    /* Espaço pro ícone */
    background-color: #90b2d6;
    color: white;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    padding-left: 12%;

}

.custom-accordion h2 {
    height: 68px;
}

.custom-accordion .accordion-item {
    background: transparent;
    border: none;
    margin-bottom: 48px;
}

.flip-card {
    background-color: transparent;
    width: 651px;
    height: 437px;
    perspective: 1000px;
    cursor: pointer;
    margin: 20px;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: auto;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-inner {
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: #ccc;
}

.marcador-azul li {
    background: url('../img/marcador2.png') no-repeat left top 13px / 10px;
    list-style: none;
    padding-left: 30px;
}

.card-fig {
    border: 1pt solid #207893;
    box-shadow: 7px 9px 0 #207893;
    padding: 39px 20px 20px 63px;
    margin: 40px auto;
    position: relative;
    max-width: 700px;
    background: #fff;
    border-radius: 4px;
    margin-top: 8%;
}

.img-lateral {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
    position: absolute;
    margin-top: -5%;
    margin-left: -27%;
}

.texto-diferente {
    color: #4095ae;
    font-size: 1.2em;
    margin-top: 3%;
}


.texto-diferente-5 {
    color: #4095ae;
    font-size: 1.1em;
    margin-top: 3%;
}

.carousel {
    width: 589px;
    height: 461px;
    margin: auto;
}


.texto-slide {
    position: absolute;
    z-index: 2;
    margin-top: 68%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    width: 589px;
}

.texto-margem {
    margin-top: 15%;
}

.painel-imagens {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#carousel3 {
    width: 545px;
    height: 410px;
    border-radius: 20px;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.15);
    border: solid 1pt #92ACCE;
    margin: auto;
}

#carousel3 img {
    padding: 20px;
}

.texto-slide2 {
    position: absolute;
    z-index: 2;
    text-align: center;
    color: #fff;
    font-weight: bold;
    width: 545px;
    height: 50px;
    background-color: #92ACCE;
    margin-top: 66%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.margem-figure {
    margin-top: 8%;
}

.figura-7 {
    margin-top: 10%;
}


.painel-audicao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.botao-surdez {
    background: url('../img/bt1.png');
    width: 243px;
    height: 296px;
    border: none;
}

.botao-surdez:hover {
    background: url('../img/bt1_hv.png');
}

.botao-da {
    background: url('../img/bt2.png');
    width: 243px;
    height: 293px;
    border: none;
}

.botao-da:hover {
    background: url('../img/bt2_hv.png');
}

.figura-14 {
    margin-top: 4%;
}

.figura-9 {
    margin-top: -11%;
}

.texto-lei {
    margin-top: 2%;
}


.texto-baby {
    margin-top: 3%;
}

.figura-painel-2 {
    margin-top: 10%;
}

.figura-painel-4 {
    margin-top: 9%;
}


.nav-tabs .nav-link {
    padding: 10px 40px;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
    color: #fff;
    border-width: 3px;
    border-bottom: unset;
    margin-bottom: -2px;
    margin-right: 5px;
}

.nav li {
    font-size: .85em;

}

.nav-item button {
    height: 71px;
}

.nav-tabs .nav-link {
    padding: 10px 25px;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
}

.tab-content {
    border-width: 3px;
    border-style: solid;
    padding: 40px;
    border-radius: 0 15px 15px 15px;
}

.bg-escuro .accordion-body p {
    color: #fff;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}


.bg-escuro .texto-botao {
    color: #fff;
}

.bg-escuro .flip-card-back p {
    color: #000;
}

.bg-escuro .bt-tooltip {
    color: #fff;
}

.bg-escuro .tab-content p {
    color: #fff;
}

.bg-escuro .figure-caption {
    color: #fff;
}

.bg-escuro .tab-content li {
    color: #fff;
}

.bg-escuro .carousel-control-prev,
.bg-escuro .carousel-control-next {
    background-color: transparent;
}

.bg-escuro #carousel3 {
    background-color: #fff;
}

.bg-escuro .figura-14 {
    background-color: #fff;
}

.bg-escuro .img3 img {
    background-color: #fff;
    border-radius: 10px;
}

.bg-escuro .card-fig p{
    color: #000;
}

.bt-objeto::after {
    content: 'espera';
    display: block;
    position: absolute;
    width: 150px;
    height: 52px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 15px;
    display: block;
    z-index: 3;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #fff;
    transition: all .4s;
}

.ilustracao {
    border-radius: 20px;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 1440px) {
    body {
        background: url('../img/elem_paral_01.png') 100% 0.5%,
            url('../img/elem_paral_02.png') 100% 13%,
            url('../img/elem_paral_03.png') 100% 21.5%,
            url('../img/elem_paral_03.png') 100% 27%,
            url('../img/elem_paral_04.png') 98% 33%,
            url('../img/elem_paral_03.png') 100% 38%,
            url('../img/elem_paral_03.png') 100% 49%,
            url('../img/elem_paral_05.png') 98% 56%,
            url('../img/elem_paral_06.png') 98% 63%,
            url('../img/elem_paral_07.png') 98% 73%,
            url('../img/elem_paral_08.png') 98% 80.5%,
            url('../img/elem_paral_03.png') 100% 89%;

        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: 18%, 17%, 19%, 19%, 15%, 19%, 19%, 16%, 17%, 19%, 15%, 19%;
    }
}

@media screen and (max-width: 1400px) {
    body {
        background: url('../img/elem_paral_01.png') 100% 0.5%,
            url('../img/elem_paral_02.png') 100% 13%,
            url('../img/elem_paral_03.png') 100% 21.5%,
            url('../img/elem_paral_03.png') 100% 26.5%,
            url('../img/elem_paral_04.png') 98% 33%,
            url('../img/elem_paral_03.png') 100% 38%,
            url('../img/elem_paral_03.png') 100% 49%,
            url('../img/elem_paral_05.png') 98% 56%,
            url('../img/elem_paral_06.png') 98% 63%,
            url('../img/elem_paral_07.png') 98% 73%,
            url('../img/elem_paral_08.png') 98% 79.8%,
            url('../img/elem_paral_03.png') 100% 88%;

        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: 18%, 17%, 17%, 17%, 15%, 17%, 17%, 16%, 17%, 15%, 15%, 15%;
    }
}


@media screen and (max-width: 1300px) {
    body {
        background: none;
    }
}


@media screen and (max-width: 1024px) {
    .custom-accordion .icon-on-top {
        margin-top: -13%;
        left: -13px;
        width: 102px;
        height: 99px;
        z-index: 2;
        position: relative;
    }

    .custom-accordion .btn-with-icon {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: #90b2d6;
        color: white;
        font-weight: bold;
        text-align: center;
        z-index: 1;
        padding-left: 12%;
    }

}


@media screen and (max-width: 820px) {
    .custom-accordion .icon-on-top {
        margin-top: -15%;
        left: -13px;
        width: 102px;
        height: 99px;
        z-index: 2;
        position: relative;
    }


    .img-lateral {
        display: block;
        margin: 0 auto 20px auto;
        max-width: 100%;
        height: auto;
        position: absolute;
        margin-top: 0%;
        margin-left: -22%;
    }

    .card-fig {
        border: 1pt solid #207893;
        box-shadow: 7px 9px 0 #207893;
        padding: 39px 20px 20px 90px;
        margin: 40px auto;
        position: relative;
        max-width: 700px;
        background: #fff;
        border-radius: 4px;
        margin-top: 8%;
    }


    .texto-diferente {
        color: #4095ae;
        font-size: 1.2em;
        margin-top: 0%;
    }

    .figura-4 {
        margin-top: 6%;
    }

    .texto-diferente-5 {
        color: #4095ae;
        font-size: 1.1em;
        margin-top: -4%;
    }

    .figura-7 {
        margin-top: 36%;
    }

    .figura-14 {
        margin-top: 15%;
    }

    .figura-9 {
        margin-top: 5%;
    }

    .card2 {
        width: 700px;
        margin: 50px auto;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    .figura-painel-2 {
        margin-top: 22%;
    }

    .figura-painel-4 {
        margin-top: 22%;
    }
}

@media screen and (max-width: 770px) {

    .custom-accordion .icon-on-top {
        margin-top: -17%;
        left: -13px;
        width: 102px;
        height: 99px;
        z-index: 2;
        position: relative;
    }

    .custom-accordion .btn-with-icon {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: #90b2d6;
        color: white;
        font-weight: bold;
        text-align: center;
        z-index: 1;
        padding-left: 14%;
    }

    .marcador-azul li {
        background: url(../img/marcador2.png) no-repeat left top 8px / 10px;
        list-style: none;
        padding-left: 30px;
    }

    .figura-7 {
        margin-top: 10%;
    }

    .figura-14 {
        margin-top: -4%;
    }

    .figura-9 {
        margin-top: -8%;
    }

    .texto-lei {
        margin-top: 7%;
    }

}


@media screen and (max-width: 700px) {
    .custom-accordion .icon-on-top {
        margin-top: -21%;
        left: -13px;
        width: 102px;
        height: 99px;
        z-index: 2;
        position: relative;
    }

    .custom-accordion .btn-with-icon {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: #90b2d6;
        color: white;
        font-weight: bold;
        text-align: center;
        z-index: 1;
        padding-left: 18%;
    }

    .texto-diferente {
        color: #4095ae;
        font-size: 1.2em;
        margin-top: 3%;
    }

    .texto-diferente-5 {
        color: #4095ae;
        font-size: 1.1em;
        margin-top: 3%;
    }

    .card2 {
        width: 400px;
        margin: 50px auto;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    .texto-baby {
        margin-top: 3%;
    }


    .figura-painel-1,
    .figura-painel-2,
    .figura-painel-3,
    .figura-painel-4 {
        margin-top: 0%;
        margin-bottom: 8%;
    }
}

@media screen and (max-width: 500px) {
    .custom-accordion .icon-on-top {
        margin-top: -31%;
        left: -10px;
        width: 102px;
        height: 99px;
        z-index: 2;
        position: relative;
    }

    .custom-accordion .btn-with-icon {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: #90b2d6;
        color: white;
        font-weight: bold;
        text-align: center;
        z-index: 1;
        padding-left: 29%;
    }

    .flip-card {
        background-color: transparent;
        width: 651px;
        height: 242px;
        perspective: 1000px;
        cursor: pointer;
        margin: 20px;
    }

    .marcador-azul li {
        background: url('../img/marcador2.png') no-repeat left top 8px / 10px;
        list-style: none;
        padding-left: 30px;
    }

    .img-lateral {
        display: none;
    }

    .card-fig {
        border: 1pt solid #207893;
        box-shadow: 7px 9px 0 #207893;
        padding: 20px 5px 20px 20px;
        margin: 40px auto;
        position: relative;
        max-width: 700px;
        background: #fff;
        border-radius: 4px;
        margin-top: 8%;
    }

    .carousel {
        width: auto;
        height: auto;
        margin: auto;
    }

    .texto-margem {
        margin-top: 30%;
    }

    .texto-slide {
        position: absolute;
        z-index: 2;
        margin-top: 67%;
        text-align: center;
        color: #fff;
        font-weight: normal;
        width: 330px;
    }

    #carousel2 p {
        font-size: .65em;
    }

    .carousel-control-prev {
        left: -34px;
    }

    .carousel-control-next {
        right: -38px;
    }

    .painel-imagens {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    #carousel3 {
        transform: scale(0.6);
        margin-left: -26%;
        margin-top: -14%;
    }

    #carousel3 p {
        font-size: 1em;
        font-weight: normal;
    }

    .margem-figure {
        margin-top: -9%;
    }

    .painel-audicao {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        gap: 50px;
    }

    .figura-14 {
        margin-top: 4%;
        margin-bottom: 5%;
    }

    .figura-9 {
        margin-top: 0%;
    }

    .texto-lei {
        margin-top: 10%;
    }
}


@media screen and (max-width: 390px) {
    .custom-accordion .icon-on-top {
        margin-top: -36%;
        left: -10px;
        width: 102px;
        height: 99px;
        z-index: 2;
        position: relative;
    }

    #carousel3 {
        transform: scale(0.6);
        margin-left: -32%;
        margin-top: -14%;
    }

    #carousel3 p {
        font-size: 1em;
        font-weight: normal;
    }

}

@media screen and (max-width: 375px) {

    .custom-accordion .btn-with-icon {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: #90b2d6;
        color: white;
        font-weight: bold;
        text-align: center;
        z-index: 1;
        padding-left: 31%;
    }

    #carousel3 p {
        font-size: 1em;
        font-weight: normal;
    }

    #carousel3 {
        transform: scale(0.55);
        margin-left: -36%;
        margin-top: -14%;
    }
}